h1 {
  color: aqua;
}
.yellow {
  color: yellow;
}
.cred {
  color: red;
}
.purple {
  color: purple;
}
/* if same types of css selectors are used in the last css style will be applied */

/* specificity selecters rules
 inline style > ID selecter > class or attribute selecter > element selecter > universal selecter */

 /* speciticity calculation */

 /* 1. Universal Selecter: 0
 2. Element selecter: 1
 3. class selecter; attribute selecter and pseudo selecter: 10
 4. ID selecters: 100
 5. Inline style: 1000 
 6. !important: 10000*/