*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: aqua;
    color: blueviolet;
    border-radius: 20px;
    padding: 7px;
    margin: 5px;
}
h2{
    background-color: bisque;
    color: brown;
    text-align: right;
    padding: 5px 15px;
    margin: 5px 0px;
    border-radius: 30px;
}
.iframe-video{
    width: 150px;
    height: auto;
    background-color: aquamarine;
    padding: 3px;
    border-radius: 5px;
}